*{
  font-family:'Roboto', sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main{ 
  position: relative;
  height: 100%;
  width: 100%;
}

#foto_cv {
  margin-left: 50px;
}

#foto_cv:hover {
  cursor: pointer;
}

  .header_footer {
    position: absolute;
    background-color: lightgray;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  #header{
  border-bottom: 3px solid black;
  }

  #titulo_cv {
    left: 25%;
    font-size: 50px;
    }

  #titulo_cv:hover {
    cursor: pointer;
    }  

  #lado_izquierdo {
      position: absolute;
      background-color: lightgray;
      border-right: 3px solid black;
      padding-left: 40px;
      height: 769px;
      width: 215px;
      top: 100px;
    }

    #nav{
      margin-left: 20x;
    }

    #nav h2{
      margin-top: 150px;
      cursor: pointer;
    }

    #nav h2:hover{
      text-decoration: underline;
      color: blue;
    }

    #lado_derecho {
      position: absolute;
      background-color: lightgray;
      border-left: 3px solid black;
      left: 88.78%;
      top: 100px;
      height: 769px;
      width: 215px;
    }

      .redes{
        margin-top: 30px;
      }

    #centro {
      background-color: aliceblue;
      position: absolute;
      display: flex;
      padding: 20px;
      text-align: center;
      top: 100px;
      left: 215px;
      width: 77.6%;
      height: 769px;
      }

      #inicio p{
        font-size: 25px;
      }

      #inicio{
        margin: auto;
      }

      #foto{
        margin-bottom: 40px;
      }

    .pag {
      display: none;
    }

      #pag_1 h2{
        font-size: xx-large;
        margin-left: 600px;
        margin-top: 25px;
      }
      
      #pag_1 p{
        font-size: xx-large;
        margin-left: 600px;
        margin-top: 10px;
      }

      #pag_2 h2{
        left: 80px;
        font-size: 40px;
        margin-top: 50px;
      }
    
      #pag_2 p {
        left: 80px;
        font-size: 30px;
        margin-top: 60px;
      }

      #pag_3 h2 {
        font-size: xx-large;
        margin-left: 100%;
        margin-top: 150px;
      }

      #pag_3 span{
        font-size: xx-large;
        margin-left: 150%;
      }

  #footer {
    top: 869px;
    border-top: 3px solid black;
  }

  #footer p{
    margin: auto;
  }